# {{ ansible_managed }}

export GO_SERVER_PORT={{ sansible_gocd_server_port }}
export GO_SERVER_SSL_PORT={{ sansible_gocd_server_port_ssl }}
export GO_SERVER_SYSTEM_PROPERTIES="{{ sansible_gocd_server_start_opts }}"
export SERVER_WORK_DIR=/home/{{ sansible_gocd_server_user }}/work/go-server
export SERVER_MEM="{{ sansible_gocd_server_mem }}"
export SERVER_MAX_MEM="{{ sansible_gocd_server_max_mem }}"
export SERVER_MAX_PERM_GEN="{{ sansible_gocd_server_max_perm_gen }}"
export SERVER_MIN_PERM_GEN="{{ sansible_gocd_server_min_perm_gen }}"
DAEMON=Y
VNC=N
